<section class="row">
  <div class="col">
    <h3 class="profileHeader">You got</h3>
    <div class="boxed">
      <h3>{{profile.name}}</h3>
    </div>

    <div class= "row">
      <h3 class= "idealised">{{profile.quotes.[0]}}</h3>
    </div>
    <h5>{{breakline profile.description}}</h5>
    
    {{#each profile.quotes}}
    <section class=row>
      {{this}}
    </section>
    {{/each}}
    {{#each profile.stories}}
    <section class=row>
      {{breakline this}}
    </section>
    {{/each}}
  </div>
</section>
